.offer-confirmed-page{
    width:100%;
    min-height:100vh;
}

.offer-toast{

    width:540px;

    margin:28px auto;

    background:#17283B;

    color:#fff;

    border-radius:14px;

    padding:18px 22px;

    display:flex;

    align-items:center;

    gap:16px;

    box-shadow:0 14px 30px rgba(0,0,0,.18);

}

.offer-toast-icon{

    width:34px;

    height:34px;

    border-radius:50%;

    background:#48B7F2;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

    color:white;

}

.offer-toast-text{

    font-size:15px;

    line-height:1.5;

}
.offer-success-section{

    display:flex;

    flex-direction:column;

    align-items:center;

    margin-top:120px;

}

.offer-success-icon{

    width:86px;

    height:86px;

    border-radius:22px;

    background:#58C2F5;

    color:white;

    font-size:48px;

    display:flex;

    justify-content:center;

    align-items:center;

    box-shadow:0 0 30px rgba(88,194,245,.35);

}

.offer-success-title{

    margin-top:28px;

    font-size:54px;

    font-weight:700;

    line-height:1.08;

    color:#17283B;

    text-align:center;

}

.offer-success-description{

    margin-top:24px;

    font-size:20px;

    color:#3B4754;

}

.offer-success-subtitle{

    margin-top:12px;

    width:580px;

    text-align:center;

    line-height:1.8;

    font-size:16px;

    color:#5F6976;

}

.offer-primary-btn{

    margin-top:36px;

    width:250px;

    height:58px;

    border:none;

    border-radius:12px;

    background:#18293D;

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

}
.offer-features{
    display:flex;
    justify-content:center;
    gap:22px;
    margin-top:70px;
    margin-bottom:150px;
    flex-wrap:wrap;
}

.offer-feature-card{

    width:240px;

    min-height:210px;

    background:#fff;

    border:1px solid #E8EEF7;

    border-radius:18px;

    padding:30px;

    transition:.25s;
}

.offer-feature-card:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.offer-feature-icon{

    width:48px;

    height:48px;

    border-radius:12px;

    background:#EAF5FF;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

    margin-bottom:20px;

}

.offer-feature-card h3{

    font-size:24px;

    margin-bottom:12px;

    color:#17283B;

}

.offer-feature-card p{

    color:#667085;

    line-height:1.7;

    font-size:15px;

}